body {
    background-color: #200706;
}

#video-background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    opacity: .4;
}

.cover-1 {
    background-color: rgba(0, 0, 0, 0.5);
    background: none;
}

li.nav-item {
    margin-right: .4rem;
}

.features-4 {
    padding: 1rem 0;
}

.carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.portfolio-item {
    margin-bottom: 30px;
}

@font-face {
    font-family: 'NinjaRuto';
    src: url('../fonts/njnaruto.ttf');
}

.ninja-type {
    font-family: 'NinjaRuto';
}

navbar-nav,
nav-item,
a.nav-link {
    font-size: 140%;
}

navbar-nav,
nav-item,
a.btn {
    font-size: 120%;
}

.navbar-ninja { background-color:rgba(255, 255, 255, 0.7); }

.main-top-section { background: #2b2d34; padding-top: 1rem; }

.about-us-carousel-bg { background-color:rgba(43, 45, 52, 0.8); }